name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        run: python -m pip install -U "jupyterlab>=4.0.0,<5"

      - name: Lint the extension
        run: |
          set -eux
          jlpm
          jlpm run lint:check

      - name: Build the extension
        run: |
          set -eux
          python -m pip install .[test]

          jupyter server extension list
          jupyter server extension list 2>&1 | grep -ie "jupytercad_openvsp.*OK"

          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "@jupytercad/jupytercad-openvsp.*OK"
          python -m jupyterlab.browser_check

      - name: Package the extension
        run: |
          set -eux

          pip install build
          python -m build
          pip uninstall -y "jupytercad_openvsp" jupyterlab

      - name: Upload extension packages
        uses: actions/upload-artifact@v4
        with:
          name: extension-artifacts
          path: dist/jupytercad_openvsp*
          if-no-files-found: error

  test_isolated:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          architecture: 'x64'
      - uses: actions/download-artifact@v4
        with:
          name: extension-artifacts
      - name: Install and Test
        run: |
          set -eux
          # Remove NodeJS, twice to take care of system and locally installed node versions.
          sudo rm -rf $(which node)
          sudo rm -rf $(which node)

          pip install "jupyterlab>=4.0.0,<5" jupytercad_openvsp*.whl


          jupyter server extension list
          jupyter server extension list 2>&1 | grep -ie "jupytercad_openvsp.*OK"

          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "@jupytercad/jupytercad-openvsp.*OK"
          python -m jupyterlab.browser_check --no-browser-test

  integration-tests:
    name: Integration tests
    needs: build
    runs-on: ubuntu-latest

    env:
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/pw-browsers

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          micromamba-version: '1.5.5-0'
          environment-name: cad
          create-args: >-
            python=3.10
            jupyterlab=4.1.6

      - uses: actions/download-artifact@v4
        with:
          name: extension-artifacts

      - name: Install the extension
        shell: bash -l {0}
        run: |
          set -eux
          pip install "jupyterlab>=4.0.0,<5" "jupytercad>=2.0.0a7" jupytercad_openvsp*.whl

      - name: Install OpenVSP
        shell: bash -l {0}
        run: |
          set -eux
          wget https://openvsp.org/download.php?file=zips/current/linux/OpenVSP-3.41.1-Ubuntu-22.04_amd64.deb -O ovsp.deb
          ar x ovsp.deb && tar -xf data.tar.gz
          python -m pip install ./opt/OpenVSP/python/utilities ./opt/OpenVSP/python/degen_geom ./opt/OpenVSP/python/openvsp_config ./opt/OpenVSP/python/openvsp

      - name: Install dependencies
        shell: bash -l {0}
        working-directory: ui-tests
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: jlpm install

      - name: Set up browser cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/pw-browsers
          key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}

      - name: Install browser
        shell: bash -l {0}
        run: npx playwright install chromium
        working-directory: ui-tests

      - name: Execute integration tests
        shell: bash -l {0}
        working-directory: ui-tests
        run: |
          yarn test

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: jupytercad-playwright-tests
          path: |
            ui-tests/test-results
            ui-tests/playwright-report
  check_links:
    name: Check Links
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - uses: jupyterlab/maintainer-tools/.github/actions/check-links@v1
